<div class="wrapper">
  <div class="profile_header">
    <!-- ADD USER COVER PHOTO HERE -->
    <%= image_tag 'stock_cover_photo.jpg', class: "cover_photo" %>

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-3">
          <%= image_tag @profile.profile_photo, class: "profile_photo" %>
        </div>

        <div class="col-xs-12 col-sm-6">
          <div class="information">
            <h1 class="name"><%= @profile.full_name %></h1>

            <p class="bio"><%= @profile.description %></p>

            <p>[For test purposes] Your user ID is ... <%= @profile.user_id || 'nil' %></p>

            <% if current_user %>
              <% if @profile.user_id %>
                <% if @profile.user_id != current_user.id %>
                  <% bool_array = [] %>
                  <% ufa = UserFollow.all %>
                  <% ufa.each do |uf| %>
                    <% if uf.leader_id == @profile.user_id && uf.follower_id == current_user.id && uf.status == true %>
                      <% bool_array << false %>
                    <% else %>
                      <% bool_array << true %>
                    <% end %>
                  <% end %>
                    <% if bool_array.include?(false) %>
                      <%= link_to 'Unfollow this user', profile_user_follows_path(@profile), method: :post, class: 'btn btn-success' %>
                    <% else %>
                      <%= link_to 'Follow this user', profile_user_follows_path(@profile), method: :post, class: 'btn btn-primary' %>
                    <% end %>
                  <% else %>
                  <p>You can't follow your own profile 😋</p>
                <% end %>
              <% else %>
                <p>You cannot follow <%= @profile.github_username %>, they are not a registered BUIDL user</p>
                <!-- PERHAPS OFFER A LINK TO SEND THIS USER AN EMAIL OFFER TO SIGN-UP TO BUIDL -->
              <% end %>
            <% else %>
              <%= link_to 'Sign-in to follow [username]', new_user_session_path, class: 'btn btn-primary' %>
              <!-- THIS ALSO NEEDS TO REDIRECT THE USER BACK TO THE PROFILE PAGE THEY WERE ON, ONCE THEY'VE SIGNED IN -->
            <% end %>
            <br>

          </div>
        </div>
        <div class="col-xs-6 col-offset-3">
          <h3>Github Projects</h3>

          <% @profile.projects.each do |project| %>

          <h5><strong>Name: <%= project.name %></strong></h5>
          <p>Description: <%= project.description %> </p>
          <p>Primary Language: <%= project.primary_language %> </p>
          <p>Size in Bytes: <%= project.size_kilobytes %>  </p>
          <p>Project Technologies</p>
          <ul>
            <% project.project_technologies.each do |pro_tech| %>
            <li>Name: <%= Technology.find(pro_tech.technology_id).name %> - Bytesize: <%= pro_tech.size_bytes %> bytes
            </li>
            <% end %>
          </ul>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/biocards' %>


<div class="">
  <h3 class="text-center">Github Projects</h3>

  <% @profile.projects.each do |project| %>
  <%= render 'shared/project_card', project: project %>
  <br>
  <% end %>

    <div class="text-center">
      <p> <%= link_to "Home", root_path %></p>
    </div>
  </div>
</div>
