<div class="wrapper">
  <div class="profile_header">
    <!-- ADD USER COVER PHOTO HERE -->
    <%= image_tag 'stock_cover_photo.jpg', class: "cover_photo" %>

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-3">
          <%= image_tag @profile.profile_photo, class: "profile_photo" %>
        </div>

        <div class="col-xs-12 col-sm-6">
          <div class="information">
            <h1 class="name"><%= @profile.full_name %></h1>

            <p class="bio"><%= @profile.description %></p>

            <br>
            <% end %>
            </ul>
          </li>

          <li>Contribution stats</li>
          <li><%  @profile.create_contributions  %></li>
        </ul>


      </div>
      <div class="col-xs-6 col-offset-3">
        <h3>Github Projects</h3>
        <% @profile.projects.each do |project| %>
          <h5><strong> Name: <%= project.name %></strong></h5>
          <p>Description: <%= project.description %> </p>
          <p>Primary Language: <%= project.primary_language %> </p>
          <p>Size in Bytes: <%= project.size_kilobytes %>  </p>
          <p>Project Technologies</p>
          <ul>
          <% project.project_technologies.each do |pro_tech| %>
          <li>Name: <%= Technology.find(pro_tech.technology_id).name %> - Bytesize: <%= pro_tech.size_bytes %> bytes
          </li>
          <% end %>
          </ul>

          </div>
        </div>
        <div class="col-offset-xs-0 col-offset-sm-3"></div>
      </div>
    </div>

    <%= render 'shared/biocards' %>


<<<<<<< HEAD
<<<<<<< HEAD
      <div class="">
        <h3 class="text-center" >Github Projects</h3>
=======
      <!-- <div class=""> -->
        <h3>Github Projects</h3>
>>>>>>> ea3cd74de5d1f9799f27af389c51a009a1682e7e
=======
      <div class="">
        <h3 class="text-center" >Github Projects</h3>

>>>>>>> 3b395a6289ee23f382d0f476cd7118bfcb698256
        <% @profile.projects.each do |project| %>
        <%= render 'shared/project_card', project: project %>
        <br>
        <% end %>

      <div class="bottom_links">
        <p> <%= link_to "Home", root_path %></p>
      </div>
    </div>
  </div>
