<div class="wrapper">
  <div class="profile_header">
    <!-- ADD USER COVER PHOTO HERE -->
    <%= image_tag 'stock_cover_photo.jpg', class: "cover_photo" %>

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-3">
          <%= image_tag @profile.profile_photo, class: "profile_photo" %>
        </div>

        <div class="col-xs-12 col-sm-6">
          <div class="information">
            <h1 class="name"><%= @profile.full_name %></h1>

            <p class="bio"><%= @profile.description %></p>

            <p>[For test purposes] Your user ID is ... <%= @profile.user_id || 'nil' %></p>

            <!-- IF THE CURRENT USER EXISTS: -->
            <% if current_user %>

              <!-- AND IF THEY'RE SIGNED IN: -->
              <% if @profile.user_id %>

                <!-- AND IF THE CURRENT PROFILE DOES NOT BELONG TO THE CURRENT USER: -->
                <% if @profile.user_id != current_user.id %>

                  <!-- THEN ITERATE OVER ALL THE CURRENT USERFOLLOW INSTANCES: -->
                  <% bool_array = [] %>
                  <% ufa = UserFollow.all %>
                  <% ufa.each do |uf| %>

                    <!-- IF THE USER DOES NOT CURRENTLY FOLLOW THE PROFILE THAT THEY'RE ON, THEN ADD FALSE TO THE ARRAY: -->
                    <% if uf.leader_id == @profile.user_id && uf.follower_id == current_user.id && uf.status == true %>
                      <% bool_array << false %>

                    <!-- OTHERWISE ADD TRUE: -->
                    <% else %>
                      <% bool_array << true %>
                    <% end %>
                  <% end %>

                    <!-- IF THE ARRAY INCLUDES AN INSTANCE OF FALSE, THEN DISPLAY THE UNFOLLOW BUTTON: -->
                    <% if bool_array.include?(false) %>
                      <%= link_to 'Unfollow this user', profile_user_follows_path(@profile), method: :post, class: 'btn btn-success' %>

                    <!-- OTHERWISE DISPLAY THE FOLLOW BUTTON: -->
                    <% else %>
                      <%= link_to 'Follow this user', profile_user_follows_path(@profile), method: :post, class: 'btn btn-primary' %>
                    <% end %>

                  <!-- IF THEY'RE ON THEIR OWN PROFILE, DISPLAY THIS MESSAGE: -->
                  <% else %>
                  <p>You can't follow your own profile 😋</p>
                <% end %>

              <!-- IF THEY'RE ON THE PROFILE OF AN UNREGISTERED USER, DISPLAY THIS MESSAGE (perhaps later add the option to send this user an email inviting them to join BUIDL): -->
              <% else %>
                <p>You cannot follow <%= @profile.github_username %>, they are not a registered BUIDL user</p>
              <% end %>

            <!-- IF THE CURRENT USER ISN'T SIGNED-IN, REDIRECT THEM TO THE SIGN-IN PAGE (this should also redirect them to the profile they're currently on once signed-in; currently doesn't): -->
            <% else %>
              <%= link_to 'Sign-in to follow [username]', new_user_session_path, class: 'btn btn-primary' %>
            <% end %>
            <br>

          </div>
        </div>
        <div class="col-xs-6 col-offset-3">
          <h3>Github Projects</h3>

          <% @profile.projects.each do |project| %>

          <h5><strong>Name: <%= project.name %></strong></h5>
          <p>Description: <%= project.description %> </p>
          <p>Primary Language: <%= project.primary_language %> </p>
          <p>Size in Bytes: <%= project.size_kilobytes %>  </p>
          <p>Project Technologies</p>
          <ul>
            <% project.project_technologies.each do |pro_tech| %>
            <li>Name: <%= Technology.find(pro_tech.technology_id).name %> - Bytesize: <%= pro_tech.size_bytes %> bytes
            </li>
            <% end %>
          </ul>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/biocards' %>


<div class="">
  <h3 class="text-center">Github Projects</h3>

  <% @profile.projects.each do |project| %>
  <%= render 'shared/project_card', project: project %>
  <br>
  <% end %>

    <div class="text-center">
      <p> <%= link_to "Home", root_path %></p>
    </div>
  </div>
</div>
