<div class="wrapper">
  <div class="profile_header">
    <!-- ADD USER COVER PHOTO HERE -->
  <div class="profile-banner">
    <%= image_tag 'stock_cover_photo.jpg', class: "cover_photo", id: "profile-pic" %>
    <% unless %>
    <%= cl_image_tag @profile.photo, height: 300, width: 400, crop: :fill %>
    <% end %>

  </div>


    <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-3">


              <%= image_tag @profile.profile_photo, class: "profile_photo" %>
              <% unless %>
               <%= cl_image_tag @profile.photo, height: 300, width: 400, crop: :fill %>
            <% end %>
            <%= render 'shared/photo_upload' %>

          </div>

          <div class="col-xs-12 col-sm-6">
            <div class="information">
            <h1 class="name"><%= @profile.full_name %></h1>

            <p class="bio"><%= @profile.description %></p>
          </div>
          </div>
          <div class="col-offset-xs-0 col-offset-sm-3"></div>
        </div>
    </div>

    <%= render 'shared/biocards' %>




      <div class="">
        <h3 class="text-center" >Github Projects</h3>

        <% @profile.projects.each do |project| %>
        <%= render 'shared/project_card', project: project %>


        <br>
        <% end %>
      <!-- </div> -->

  <div class="bottom_links">
    <p> <%= link_to "Home", root_path %></p>
    </div>
  </div>
</div>





