<div class="wrapper">
  <div class="profile_header">
    <!-- ADD USER COVER PHOTO HERE -->
  <div class="profile-banner">
    <%= image_tag 'stock_cover_photo.jpg', class: "cover_photo", id: "profile-pic" %>
    <% unless %>
    <%= cl_image_tag @profile.photo, height: 300, width: 400, crop: :fill %>
    <% end %>

  </div>


    <div class="container">

        <div class="row">
          <div class="col-xs-12 col-sm-3">
            <% if @profile.photo %>
             <% @image =  @profile.photo %>
              <%#= render 'shared/photo_upload'%>
            <% else %>
              <% @image = @profile.profile_photo %>
                <%#= render 'shared/photo_upload'%>
            <% end %>

            <!-- WHAT THE FUCK IS THIS? -->
            <% unless @image.file.nil? %>
              <div class="profile-img profile-photo" style="background-image: url('<%= cl_image_path @image %>');">

                  <div id="profile-img-hover" class="text-center">
                      <!-- <a href="#" class='btn' id='upload-fake-btn'><i class="fas fa-edit"></i></a> -->

                      <%= render 'shared/photo_upload'%>
                      <!-- <a href="#" class='btn' id='upload-fake-btn'><i class="fas fa-edit"></i></a> -->
                  </div>
              </div>
            <% end %>
            <!-- WHAT THE FUCK IS THIS END -->
          </div>

        <div class="col-xs-12 col-sm-6">
          <div class="information">
            <h1 class="name"><%= @profile.full_name %></h1>

            <p class="bio"><%= @profile.description %></p>

            <p>[For test purposes] Your user ID is ... <%= @profile.user_id || 'nil' %></p>


            <% if current_user %>
              <% if @profile.user %>
                <% if @profile.user != current_user %>
                  <% @user_follow = UserFollow.find_instance(@profile, current_user) %>
                  <% if @user_follow %>
                    <% if @user_follow.status == true %>
                      <%= link_to 'Unfollow this user', profile_user_follow_path(@profile, @user_follow), method: :patch, class: 'btn btn-success' %>
                    <% else %>
                      <%= link_to 'Follow this user', profile_user_follow_path(@profile, @user_follow), method: :patch, class: 'btn btn-primary' %>
                    <% end %>
                  <% else %>
                    <%= link_to 'Follow this user', profile_user_follows_path(@profile), method: :post, class: 'btn btn-primary' %>
                  <% end %>
                <% else %>
                  <p class="btn btn-warning">You can't follow your own profile 😋</p>
                <% end %>
              <% else %>
                <p class="btn btn-danger">You cannot follow <%= @profile.github_username %>, they are not a registered BUIDL user</p>
              <% end %>
            <% else %>
              <%= link_to 'Sign-in to follow [username]', new_user_session_path, class: 'btn btn-primary' %>
            <% end %>

      <div class="col-xs-6 col-offset-3">
        <h3>Github Projects</h3>


        <%= render 'shared/biocards' %>

        <div class="">
          <h3 class="text-center" >Github Projects</h3>

<div class="">
  <h3 class="text-center">Github Projects</h3>

  <% @profile.projects.each do |project| %>
  <%= render 'shared/project_card', project: project %>
  <br>
  <% end %>

    <div class="text-center">
      <p> <%= link_to "Home", root_path %></p>
    </div>
  </div>
</div>

