<div class="wrapper">
  <div class="profile_header">
    <%= image_tag 'stock_cover_photo.jpg', class: "cover_photo", id: "profile-pic" %>

        <div class="container">

        <div class="row">
          <div class="col-xs-12 col-sm-3">

            <% if @profile.photo.present? %>
            <!-- photo : user photo -->

              <%= render "shared/profile-photo", profile: @profile  %>

             <%# @image =  @profile.photo %>
              <%#= render 'shared/photo_upload'%>
            <% else %>
              <%= render "shared/github-photo", profile: @profile  %>
              <%# @image = @profile.profile_photo %>
                <%#= render 'shared/photo_upload'%>
            <% end %>

          </div>
        <div class="col-xs-12 col-sm-6">
          <div class="information">
            <!--- Owains Big beautiful graph ---->
              <%= render 'shared/com-ovr-time'%>
             <!--- Owains Big beautiful graph end ---->


            <h1 class="name"><%= @profile.full_name %></h1>
            <p class="bio"><%= @profile.description %></p>
            <!--- Jethro's Follow Button ---->

            <% if current_user %>
              <% if @profile.user %>
                <% if @profile.user != current_user %>
                  <% @user_follow = UserFollow.find_instance(@profile, current_user) %>
                  <% if @user_follow %>
                    <% if @user_follow.status == true %>
                      <%= link_to(profile_user_follow_path(@profile, @user_follow), method: :patch, class: 'btn btn-success') do %>
                          Unfollow <%= @profile.full_name %>
                      <% end %>
                    <% else %>
                      <%= link_to(profile_user_follow_path(@profile, @user_follow), method: :patch, class: 'btn btn-primary') do %>
                        Follow <%= @profile.full_name %>
                      <% end %>
                    <% end %>
                  <% else %>
                    <%= link_to(profile_user_follows_path(@profile), method: :post, class: 'btn btn-primary') do %>
                      Follow <%= @profile.full_name %>
                    <% end %>
                  <% end %>
                <% else %>
                  <!-- <p class="btn btn-warning">You can't follow your own profile 😋</p> -->
                <% end %>
              <% else %>
                <p class="btn btn-danger">Invite <%= @profile.github_username %> to BUIDL</p>
              <% end %>
            <% else %>
              <%= link_to(new_user_session_path, class: 'btn btn-primary') do %>
              Sign in to follow <%= @profile.full_name %>
              <% end %>
            <% end %>

            <!--- Jethro's Follow Button End---->



            </div>
            <div class="col-xs-6 col-offset-3">
          </div>
        </div>
        <div class="col-offset-xs-0 col-offset-sm-3"></div>
      </div>
    </div>

    <%= render 'shared/biocards' %>


      <div class="">
        <h3 class="text-center" >Github Projects</h3>

        <% @profile.projects.each do |project| %>
          <%= render 'shared/project_card', project: project %>
          <%#= render 'projects/photo-upload-project', project: project, profile: @profile %>
        <!-- don't delete, this is photo uploader -->
        <% end %>

      <div class="text-center">
        <p> <%= link_to "Home", root_path %></p>
      </div>
    </div>
  </div>
</div>


