<div class="biocards-container">
  <div class="row">


      <div class="bio-left col-xs-12 col-sm-6">

        <div class="bio-flex">
          <div class="bio-flex-item1">

            <div class="biobox biobox-1 box-shadow-os">
              <div class="biobox-content">
                <div class="bio-title">Github username:</div>
                <strong><%= link_to "https://github.com/#{@profile.github_username}" do %>

                  <%= @profile.github_username %>
                  <i id="ghub" class="fab fa-github fa-2x biocards-git-icon"></i>

                <% end %></strong>

             </div>
           </div>

            <div class="biobox biobox-4 box-shadow-os">
              <div class="biobox-content">
                <div class="bio-title">Top language:</div>

                <% unless @profile.top_languages == [] %>
                <div><strong><%= @profile.top_languages.first[0].capitalize %></strong></div>
                <% end %>
            </div>
          </div>
        </div>

        <div class="bio-flex-item2">
          <div class="biobox biobox-2  box-shadow-os">
            <div class="biobox-content">
              <div class="bio-title">Total commits:</div>
              <div><strong><%= @profile.total_contributions[:commits] %></strong></div>

            </div>
          </div>

          <div class="biobox biobox-3 box-shadow-os">
             <div class="biobox-content">
            <div class="bio-title">No. of Projects:</div>
            <div><strong><%= @profile.activity.length %></strong></div>
            <div>No. of Projects</div>
            <div><strong><%= @profile.repo_number %></strong></div>
          </div>
          </div>
        </div>

        </div>
      </div>


    <div class="bio-right col-xs-12 col-sm-6">
      <div class="topl-container box-shadow-os">
<!--         <div class="tolp-title text-center">
          Top Language
        </div> -->
        <div class="topl-graph text-center">
          <%= render 'shared/top_languages' %>
        </div>
      </div>
    </div>
  </div>
</div>




