
<% if current_user %>
  <% if @profile.user %>
    <% if @profile.user != current_user %>
      <% @user_follow = UserFollow.find_instance(@profile, current_user) %>
      <% if @user_follow %>
        <% if @user_follow.status == true %>
          <%= link_to(profile_user_follow_path(@profile, @user_follow), method: :patch, class: 'btn btn-success') do %>
              Unfollow <%= @profile.full_name %>
          <% end %>
        <% else %>
          <%= link_to(profile_user_follow_path(@profile, @user_follow), method: :patch, class: 'btn btn-primary') do %>
            Follow <%= @profile.full_name %>
          <% end %>
        <% end %>
      <% else %>
        <%= link_to(profile_user_follows_path(@profile), method: :post, class: 'btn btn-primary') do %>
          Follow <%= @profile.full_name %>
        <% end %>
      <% end %>
    <% else %>
      <!-- <p class="btn btn-warning">You can't follow your own profile 😋</p> -->
    <% end %>
  <% else %>
    <!-- <p class="btn btn-danger">Invite <%#= @profile.github_username %> to BUIDL</p> -->
  <% end %>
<% else %>
  <%= link_to "Follow", user_github_omniauth_authorize_path,  class: 'btn btn-primary' %>
<% end %>
