<div class="card-outer">
  <div class="row">

    <div class="col-xs-12 col-sm-6">
      <div class="card-2" >
        <div class="box-2">
          <div class="title-box">
            <div class="h3">
              <%= project.kebab_convert(project.name) %>
            </div>
            <div class="text-field">
              <%= project.description %>
            </div>
          </div>
          <div class="p-lang">
            <div class="h5">Primary language</div>
            <div class="primary-language">
              <%= project.primary_language %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6">
      <div class="card-3 ">
        <div class="box-3">

          <div class="lang-data">
            <div class="tech-container">
              <div class="h5">Project Technologies</div>
              <ul>
                <% chartLabelData = {} %>

                <% project.project_technologies.each do |pro_tech| %>
                  <% technology = Technology.find(pro_tech.technology_id).name %>
                  <% chartLabelData[technology] = pro_tech.size_bytes %>
                  <li>
                    <%#= technology %> <%#= pro_tech.size_bytes %>
                  </li>
                <% end %>

                <% chartLabelData = chartLabelData.to_json %>
              </ul>

              <div class="chart-container"  style="width:250px; height:250px;">
                <canvas id="product-chart-<%= project.id %>" class="js-product-chart" data-chartlabeldata="<%= chartLabelData %>" data-projectid="<%= project.id %>"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



