<div class="card-outer">
  <div class="row">

    <div class="col-xs-12 col-md-4">
      <div class="card-1">
        <div class="box-1">
          <% if project.photo.present? %>
            <div class="card-image" style=" background: url('<%= image_path project.photo %>'); background-size: cover; background-position: center; ">
          <% else %>

            <!-- THIS CODE IS HERE TO GENERATE A RANDOM IMAGE FOR THE 21/11 PRESENTATION -->
            <% random_image_array = [] %>
            <% 28.times do |n| %>
            <% random_image_array << "random_image_#{n + 1}.jpg" %>
            <% end %>
            <!-- FINISH -->

            <div class="card-image" style=" background: url('<%= image_path random_image_array.sample %>'); background-size: cover; background-position: center; ">
          <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card-2" >
        <div class="box-2">
          <div class="title-box">
            <div class="h3">
              <%= project.kebab_convert(project.name) %>
            </div>
            <div class="text-field">
              <%= project.description %>
            </div>
          </div>
          <div class="p-lang">
            <div class="h5">Primary language</div>
            <div class="primary-language">
              <%= project.primary_language %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card-3 ">
        <div class="box-3">

          <div class="lang-data">
            <div class="tech-container">
              <div class="h5">Project Technologies</div>
              <ul>
                <% chartLabelData = {} %>

                <% project.project_technologies.each do |pro_tech| %>
                  <% technology = Technology.find(pro_tech.technology_id).name %>
                  <% chartLabelData[technology] = pro_tech.size_bytes %>
                  <li>
                    <%#= technology %> <%#= pro_tech.size_bytes %>
                  </li>
                <% end %>

                <% chartLabelData = chartLabelData.to_json %>
              </ul>

              <div class="chart-container">
                <canvas id="product-chart-<%= project.id %>" class="js-product-chart" data-chartlabeldata="<%= chartLabelData %>" data-projectid="<%= project.id %>"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



