<!-- Edit Projects description and name -->

<!-- Button trigger modal -->
<div class="project-edit-icon">
<button type="button" class="edit-btn" data-toggle="modal" data-target="#project-form-<%= project.id %>">
  <i class="fa fa-edit"></i>
</button>
<!-- Modal -->
<div class="modal fade" id="project-form-<%= project.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit <%= project.kebab_convert(project.name) %></h4>
      </div>
      <div class="modal-body">
        <%= simple_form_for [@profile, project] do |f| %>
          <!--<label class= 'edit-projectx' for="profile_photo">Titel</label>-->
          <%= f.input :name%>
         <!-- <label class= 'edit-projectx' for="profile_photo">Description</label>--->
          <%= f.input :description, as: :text%>

      </div>
      <div class="modal-footer">

        <!-- Delete this project button -->
        <!-- Delete all contribtuions associated with this project -->
        <%= link_to "Delete this project", profile_project_contribution_path(@profile.contributions.first, project.id, @profile.id), method: :delete, class: "btn btn-danger" %>
        <!-- Delete this project button -->

        <!-- Submit button -->
        <%= f.submit :class => "btn btn-primary" %>
        <!-- End Submit button -->
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
